.header {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  font-weight: 400;
  color: rgb(183, 183, 183);
}

.active {
  font-weight: 600;
  color: #032ea3;
}

@media only screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .nav {
    margin-top: 1rem;
  }
}
